.times {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

dl {
  margin: 0;
}

.scheduleItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dd {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

dd > button:not(.isRelevant) {
  opacity: 0.3;
}

dialog {
  padding: 0;
}

dialog section {
  padding: 20px;
}
