html,
body,
#root,
main {
  height: 100%;
}

button {
  font-size: 14px;
  padding: 6px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form section {
  display: flex;
  justify-content: end;
  align-items: center;
}

form section p {
  margin: 0;
  font-size: 12px;
}
